@model List<WebShop.Models.AspNetUser>

@{
    ViewBag.Title = "Index1";
}
<h2>User Details List</h2>



@using (Html.BeginForm("Index1", "UserTable", FormMethod.Post))

{

<table class="table">
    <tr>

        <td>
            Unique ID:
        </td>
        <td>
            Email ID:
        </td>
        <td>
            Password:
        </td>
        <td>
            Phone No:
        </td>
        <td>
            User Name:
        </td>
    </tr>
    @for (int i = 0; i < Model.Count; i++)

    {
    <tr>
        @*<td>*@
        @*@Html.Hidden("aspnetuser.Index1", (@i + 10))

        @Html.TextBox("aspnetuser[" + (@i + 10) + "].Id", model => Model[i].Id, new { @readonly = "readonly" })*@




        @Html.HiddenFor(model => model[i].Id)
        <td> @Html.EditorFor(model => model[i].Id, new { @readonly = "readonly" })</td>
        <td>@Html.EditorFor(model => model[i].Email)</td>
        <td>@Html.EditorFor(model => model[i].PasswordHash, new { @readonly = "readonly" })</td>
        <td>@Html.EditorFor(model => model[i].PhoneNumber)</td>
        <td>@Html.EditorFor(model => model[i].UserName)</td>




        @*</td>

        <td>

            @Html.TextBox("aspnetuser[" + (@i + 10) + "].Email",

             model => Model[i].Email)

        </td>

        <td>

            @Html.TextBox("aspnetuser[" + (@i + 10) + "].PasswordHash",

              Model[i].PasswordHash)

        </td>

        <td>

            @Html.TextBox("aspnetuser[" + (@i + 10) + "].PhoneNumber",

              Model[i].PhoneNumber)

        </td>*@
    </tr>
    }
    <tr>

        <td colspan="4">

            <input type="submit" value="Submit" />

        </td>

    </tr>

</table>

}